<h1> About </h1>

	<div class="col-md-4">
		<%= image_tag('Racket.png', size: "300x300") %>
	</div>
	<div class="col-md-4">
		<%= image_tag('Racket.png', size: "300x300") %>
	</div>
	<div class="col-md-4">
		<%= image_tag('Racket.png', size: "300x300") %>
	</div>