#header-logo img{
	width: 50px;
	float: left;
	margin: 5px 0;
}

#signin a{
	float: right;
}

.navbar, .navbar-inverse .navbar-inner {
	background-color: #009245;
}

.navbar .nav > li > a {
	color: white;
	text-shadow: none;
	font-family: HelveticaNeue-Light;
	font-size: 18px;
}

.navbar .nav {
	margin: 8px 10px 5px 20px;
}

.logo-container {
	width: 50%;
	text-align: center;
	display: inline-block;
}

.home-container {
	margin: 30px 0;
}

.signup-container {
	font-family: HelveticaNeue-Light;
	width: 45%;
	display: inline-block;
}

.login-container {
	font-family: HelveticaNeue-Light;
	width: 45%;
	display: inline-block;
}

.btn-custom {
  background-color: hsl(150, 74%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1dc370", endColorstr="#1dc370");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1dc370), to(#1dc370));
  background-image: -moz-linear-gradient(top, #1dc370, #1dc370);
  background-image: -ms-linear-gradient(top, #1dc370, #1dc370);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1dc370), color-stop(100%, #1dc370));
  background-image: -webkit-linear-gradient(top, #1dc370, #1dc370);
  background-image: -o-linear-gradient(top, #1dc370, #1dc370);
  background-image: linear-gradient(#1dc370, #1dc370);
  border-color: #1dc370 #1dc370 hsl(150, 74%, 44%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.dashboard-container {
	font-family: HelveticaNeue-Light;
}

.dashboard-container h1{
	text-align: left;
	font-family: HelveticaNeue-Light;
}

.sports-list {
	width: 30%;
	display: inline-block;
}

.sports-list .arrow-container{
	list-style: none;
	background: url('arrows-sprite.png') 0 0;
	width: 226px;
	height: 40px;
	cursor: pointer;
	margin: 10px 0;
}

.sports-list .arrow-container:hover, .arrow-container.active {
	background: url('arrows-sprite.png') 0 40px;
}

.sports-list li {
	padding: 10px;
	font-size: 30px;
	margin-left: 30px;
	font-family: HelveticaNeue-Thin;
	color: white;
}

.sport-info {
	border: 2px solid #999999;
    border-radius: 25px;
    width: 60%;
    display: inline-block;
    padding: 0 20px;
}

.sport-info h1 {
	font-size: 35px;
}

.inline {
	display: inline-block;
}

.sport-score {
	background-color: hsl(150, 74%, 44%);
	border: 1px solid #999999;
	border-radius: 5px;
	font-size: 30px;
	padding: 10px;
	color: white;
	font-family: HelveticaNeue-Thin;
	margin: 15px;
}

.image-circle-green {
	border-radius: 50%;
	background-color: #009245; 
}